.event-details {
  padding: 20px;
  background: #FFE1C6;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #545863;
  position: absolute;
  left: 1rem;
}

.whisk-title {
  font-size: 32px;
  margin: 0;
  color: #545863;
  font-family: 'Orienta', sans-serif;
  font-weight: 400;
}

.search-icon {
  font-size: 24px;
  color: #545863;
}

.event-date-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  flex: 1;
  text-align: center;
}

.event-date {
  padding: 8px 24px;
  border: 2px solid black;
  border-radius: 12px;
  font-size: 20px;
  background: transparent;
}