.event-details {
  padding: 30px;
  background: var(--primary-bg);
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--text-light);
  position: absolute;
  left: -0.5rem;
}

.whisk-title {
  font-size: 32px;
  margin: 0;
  color: var(--text-light);
  font-family: 'Orienta', sans-serif;
  font-weight: 400;
}

.search-icon {
  font-size: 24px;
  color: var(--text-light);
}

.event-date-container {
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
}

.event-date {
  padding: 8px 24px;
  border: 2px solid var(--text-light);
  border-radius: 12px;
  font-size: 20px;
  background: transparent;
  color: var(--text-light);
}