.header {
  padding: 15px 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

.logo-container {
  position: relative;
  width: 227px;
  height: 77px;
  margin: 0 auto;
  margin-bottom: -10px;
}

.whisk-text {
  color: #1E1E1E;
  font-size: 67px;
  font-family: "Orienta", sans-serif;
  font-weight: 400;
  position: absolute;
  left: 0;
  top: 0;
  word-wrap: break-word;
}

.whisk-handle {
  width: 27px;
  height: 39px;
  position: absolute;
  left: 227px;
  top: 25px;
  background: #1E1E1E;
  border-radius: 9999px;
  transform: rotate(-38.28deg);
  transform-origin: 0 0;
}

.whisk-stem {
  width: 9px;
  height: 35px;
  position: absolute;
  left: 256px;
  top: 46px;
  background: #1E1E1E;
  transform: rotate(-45.17deg);
  transform-origin: 0 0;
}

.whisk-line {
  position: absolute;
  transform: rotate(48.84deg);
  transform-origin: 0 0;
}

.line1 {
  width: 38px;
  height: 0;
  left: 240px;
  top: 15px;
  border: 1px solid #D86F6F;
}

.line2 {
  width: 38px;
  height: 0;
  left: 236px;
  top: 18px;
  border: 1px solid #BC89D8;
}

.line3 {
  width: 30px;
  height: 0;
  left: 234px;
  top: 26px;
  border: 1px solid #D86F6F;
}

.line4 {
  width: 32px;
  height: 0;
  left: 246px;
  top: 13px;
  border: 1px solid #BC89D8;
}

.whisk-underline {
  position: absolute;
  height: 0;
}

.line5 {
  width: 188px;
  left: 5px;
  top: 74px;
  border: 1px solid #D86F6F;
}

.line6 {
  width: 171px;
  left: 11px;
  top: 76px;
  border: 1px solid #BC89D8;
} 